*{
    font-family: "Mulish", sans-serif !important;
}

.buttom{
    background-color: #797DFC;
    padding: 5px;
    border-radius: 50px;
    color: white;
    font-weight:500;
    font-size: 17px;
}

.bnnerimg{
    background-color: #12132D;
    background-image: url('images/bgbanner.png');
    background-position: bottom;
    background-repeat: no-repeat;
}
#gradint{
    background: linear-gradient(90deg, #797DFC 0.63%, rgba(121, 125, 252, 0.427) 41%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Mulish;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 86px;
}