*{
    font-family: "Mulish", sans-serif !important;
}

.buttom{
    background-color: #797DFC;
    padding: 5px;
    border-radius: 50px;
    color: white;
    font-weight:500;
    font-size: 17px;
}

.t-home{
    visibility: hidden;
    position:absolute;
    background-color: black;
    color: white;
    margin: 20px;
    padding: 0px 10px;
    border-radius: 3px;
}
.i-home{
    position: relative;
}
.i-home:hover + .t-home{
   visibility: visible;
   bottom: 47px;
   left: -22px;
}


.t-pen{
    visibility: hidden;
    position:absolute;
    background-color: black;
    color: white;
    margin: 20px;
    padding: 0px 10px;
    border-radius: 3px;
}
.i-pen{
    position: relative;
}
.i-pen:hover + .t-pen{
   visibility: visible;
   bottom: 47px;
   left: 57px;
}



.t-add{
    visibility: hidden;
    position:absolute;
    background-color: black;
    color: white;
    margin: 20px;
    padding: 0px 10px;
    border-radius: 3px;
}
.i-add{
    position: relative;
}
.i-add:hover + .t-add{
   visibility: visible;
   bottom: 47px;
   left: 130px;
}



.t-flag{
    visibility: hidden;
    position:absolute;
    background-color: black;
    color: white;
    margin: 20px;
    padding: 0px 10px;
    border-radius: 3px;
}
.i-flag{
    position: relative;
}
.i-flag:hover + .t-flag{
   visibility: visible;
   bottom: 47px;
   left: 200px;
}

.bnnerimg{
    background-color: #12132D;
    background-image: url('images/bgbanner.png');
    background-position: bottom;
    background-repeat: no-repeat;
}
#gradint{
    background: linear-gradient(90deg, #797DFC 0.63%, rgba(121, 125, 252, 0.427) 41%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Mulish;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 86px;
}